.grid {
    max-width: 25vw;
    height: 100vh;
}

.grid .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 20px;
    background-color: #F4FAFF;
}

.grid .form {
    padding: 30px;
}

.grid .submit {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.submit button:nth-child(1) {
    height: 50px;
}
.submit button:nth-child(2) {
    color: gray;
}

.grid .status {
    margin-top: 30px;
    margin-bottom: 30px;
}
.grid .status button {
    margin: 6.5px;
    color: #292929;
    background-color: #F5F5F5;
}

.grid .status .active {
    background-color: #FCECCE !important;
}